#comic-mode {
    position: fixed;
    display: none;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#comic-mode.active {
    display: block;
    cursor: pointer;
}

#comic-mode.active::after {
    content: "\27A4";
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    animation: blink 1.5s ease-in-out infinite;
}

#comic-mode.active ~ #passages {
    display: none;
}

#sprites {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 4rem;
    left: 0;
}

#sprites img {
    border: 0;
    max-width: 88%;
    filter: drop-shadow(0 0 8px #333);
    transition: all 200ms;
}

#sprites img.dim {
    filter: brightness(0.7);
}

#sprites img.p0 {
    /* position 0: far left */
    position: fixed;
    left: -25%;
    z-index: 5;
}

#sprites img.p1 {
    /* position 1: center left */
    position: fixed;
    left: -10%;
    z-index: 4;
}

#sprites img.p2 {
    /* position 2: center */
    position: fixed;
    left: 10%;
    z-index: 3;
}

#sprites img.p3 {
    /* position 3: center right */
    position: fixed;
    right: -10%;
    z-index: 2;
}

#sprites img.p4 {
    /* position 4: far right */
    position: fixed;
    right: -25%;
    z-index: 1;
}

#sprites img.boost {
    top: -3rem;
}

#doll-l img {
    position: fixed;
    left: -10%;
    z-index: 2;
}

#doll-r img {
    position: fixed;
    right: -10%;
    z-index: -1;
}

#vn-box {
    font-family: "zh", Helvetica, Arial, sans-serif;
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    height: 12.5rem;
    max-height: 90%;
    background-color: #fafafaea;
    color: #151515;
    max-width: 900px;
    margin: auto;
    text-shadow: 0 0 1px #eee;
    border-radius: 8px 30px;
    cursor: pointer;
    box-shadow: 0 0 4px #000;
    user-select: none;
    max-height: 35%;
    /* just in case */
    overflow: auto; 
}

#name {
    padding: 0.5rem;
    padding-left: 5rem;
    border-bottom: 1px solid #111;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
    height: 1.5em;
}

#content {
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: auto;
    text-align: left;
    max-width: 888px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#vn-box::after {
    content: "\27A4";
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    animation: blink 1.5s ease-in-out infinite;
}

@media only screen and (min-width: 1440px) {
    #doll-l img {
        left: 0;
    }
    #doll-r img {
        right: 0;
    }
}

.macro-type-cursor:after {
	content: '';
}

#curtain {
    z-index: 100;
    position: fixed;
    background-color: #111;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: height 500ms ease-in-out;
}

#curtain.closed {
    display: block;
    height: 110vh;
}